<ion-header>
    <ion-navbar>
        <ion-title>
            {{this.summaryList.length>0?(this.summaryList[0].Author+'的空间'):""}}
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-card *ngFor="let item of summaryList">
            <ion-item>
                <ion-avatar item-left (click)='gotoBlogApp(item.BlogApp)'>
                    <img src="{{item.Avatar}}" onerror="this.src='http://www.cnblogs.com/images/logo_small.gif'">
                </ion-avatar>
                <h2>{{item.Title}}</h2>
                <p style="padding-top:3px;">PostDate:{{item.PostDate.substring(0,10)}}</p>
            </ion-item>
            <ion-card-content (click)='gotoToDetail(item)'>
                <p>{{item.Description}}</p>
            </ion-card-content>
            <ion-row>
                <ion-col>
                    <button ion-button icon-left clear small>
                        <ion-icon name="thumbs-up"></ion-icon>
                        <div>{{item.DiggCount}} Likes</div>
                    </button>
                </ion-col>
                <ion-col>
                    <button ion-button icon-left clear small>
                        <ion-icon name="text"></ion-icon>
                        <div>{{item.CommentCount}} Comments</div>
                    </button>
                </ion-col>
                <ion-col center text-center>
                    <button ion-button icon-left clear small>
                        <ion-icon name="eye"></ion-icon>
                        <div>{{item.ViewCount}} Views</div>
                    </button>
                </ion-col>
            </ion-row>
        </ion-card>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="scrollEnable">
        <ion-infinite-scroll-content loadingText="正在加载下一页数据,请等待...">正在加载下一页数据,请等待...</ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>