<ion-header>
    <ion-navbar>
        <ion-title>
            搜索
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item>
            <ion-searchbar style="width:80%;display:inline-block" [(ngModel)]="searchKeyWord">
            </ion-searchbar>
            <div style="width:18%;display:inline-block" (click)='search()'>
                <ion-icon name="search">查询</ion-icon>
            </div>
        </ion-item>
        <ion-card *ngFor="let item of summaryList">
            <ion-item>
                <h2>{{item.Title}}</h2>
                <p style="padding-top:3px;">{{item.UserName}} PostDate:{{item.PublishTime.substring(0,10)}}</p>
            </ion-item>
            <ion-card-content (click)='gotoToDetail(item)'>
                <p>{{item.Content}}</p>
            </ion-card-content>
            <ion-row>
                <ion-col>
                    <button ion-button icon-left clear small>
                        <ion-icon name="thumbs-up"></ion-icon>
                        <div>{{item.VoteTimes}} Likes</div>
                    </button>
                </ion-col>
                <ion-col>
                    <button ion-button icon-left clear small>
                        <ion-icon name="text"></ion-icon>
                        <div>{{item.CommentTimes}} Comments</div>
                    </button>
                </ion-col>
                <ion-col center text-center>
                    <button ion-button icon-left clear small>
                        <ion-icon name="eye"></ion-icon>
                        <div>{{item.ViewTimes}} Views</div>
                    </button>
                </ion-col>
            </ion-row>
        </ion-card>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="scrollEnable">
        <ion-infinite-scroll-content loadingText="正在加载下一页数据,请等待...">正在加载下一页数据,请等待...</ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>