<ion-header>
    <ion-navbar>
        <ion-grid class="home_header">
            <ion-row class="row">
                <span>MBlog<i>The code to change the world</i></span>
            </ion-row>
        </ion-grid>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-grid style="width:100%;">
        <ion-list>
            <ion-card *ngFor="let item of fistpageList">
                <ion-item>
                    最新博客预览
                </ion-item>
                <ion-item>
                    <ion-avatar item-left (click)='gotoBlogApp(item.BlogApp)'>
                        <img src="{{item.Avatar}}" onerror="this.src='http://www.cnblogs.com/images/logo_small.gif'">
                    </ion-avatar>
                    <h2>{{item.Title}}</h2>
                    <p style="padding-top:3px;">{{item.Author}} {{item.PostDate.substring(0,10)}}</p>
                </ion-item>
                <ion-card-content (click)='gotoToDetail(item)'>
                    <p>{{item.Description}}</p>
                </ion-card-content>
                <ion-row (click)='gotoToDetail(item)'>
                    <ion-col>
                        <button ion-button icon-left clear small>
                        <ion-icon name="thumbs-up"></ion-icon>
                        <div>{{item.DiggCount}} Likes</div>
                    </button>
                    </ion-col>
                    <ion-col>
                        <button ion-button icon-left clear small>
                        <ion-icon name="text"></ion-icon>
                        <div>{{item.CommentCount}} Comments</div>
                    </button>
                    </ion-col>
                    <ion-col center text-center>
                        <button ion-button icon-left clear small>
                        <ion-icon name="eye"></ion-icon>
                        <div>{{item.ViewCount}} Views</div>
                    </button>
                    </ion-col>
                </ion-row>
            </ion-card>
        </ion-list>
        <ion-list>
            <ion-card *ngFor="let item of firstNewsPageList">
                <ion-item>
                    最新新闻预览
                </ion-item>
                <ion-item>
                    <ion-avatar item-left>
                        <img src="{{item.TopicIcon}}" onerror="this.src='http://www.cnblogs.com/images/logo_small.gif'">
                    </ion-avatar>
                    <h2>{{item.Title}}</h2>
                    <p style="padding-top:3px;">News {{item.DateAdded.substring(0,10)}}</p>
                </ion-item>
                <ion-card-content (click)='gotoToNewsDetail(item)'>
                    <p>{{item.Summary}}</p>
                </ion-card-content>
                <ion-row>
                    <ion-col>
                        <button ion-button icon-left clear small>
                        <ion-icon name="thumbs-up"></ion-icon>
                        <div>{{item.DiggCount}} Likes</div>
                    </button>
                    </ion-col>
                    <ion-col>
                        <button ion-button icon-left clear small>
                        <ion-icon name="text"></ion-icon>
                        <div>{{item.CommentCount}} Comments</div>
                    </button>
                    </ion-col>
                    <ion-col center text-center>
                        <button ion-button icon-left clear small>
                        <ion-icon name="eye"></ion-icon>
                        <div>{{item.ViewCount}} Views</div>
                    </button>
                    </ion-col>
                </ion-row>
            </ion-card>
        </ion-list>
    </ion-grid>
    <ion-fab bottom right #fab>
        <button ion-fab>+</button>
        <ion-fab-list side="top">
            <button ion-fab (click)='closeFab(fab)'>-</button>
            <button ion-fab (click)='gotoSearch()'>搜索</button>
            <button ion-fab (click)='gotoBlog(1)'>博客</button>
            <button ion-fab (click)='gotoNews()'>新闻</button>
            <button ion-fab (click)='getToMemeber()'><ion-icon name="person" ></ion-icon></button>
        </ion-fab-list>
    </ion-fab>
</ion-content>