page-all {
    * {
        margin: 0;
        padding: 0;
    }
    .nextPage {
        background-color: lightgray;
        height: 20px;
        width: 100%;
        text-align: center;
        color: darkgray;
        font-size: 12px;
    }
}