page-all {
    .detail_title {
        background-color: #387ef5;
        padding: 20px;
        font-style: normal;
        margin-top: 40px;
        color: white;
    }
    .icon-md-primary {
        color: white !important;
    }
}